:root {
    --background: rgb(205, 199, 189);
    --fontPrimary: rgb(214, 206, 200);
    --fontSecondary: rgb(129, 117, 114);
    --templateBackground: rgb(23, 23, 21);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

/* #templateBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 95vh;
    background-color: var(--templateBackground);
}

#templateFrame {
    width: auto;
    height: 95vh;
    background-color: var(--templateBackground);
}

#templateItems {
    position: absolute;
    top: 5%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-self: center;
}

#GenderAgeHeight {
    display: flex;
    flex-direction: row;
} */

footer {
    font-size: large;
    position: absolute;
    bottom: 5px;
}
footer p {
    color: var(--templateBackground);
}
footer p img {
    height: 20px;
    margin: auto 2px;
}
a, a:visited {
    /* text-decoration: none; */
    color: inherit;
}

h2 {
    color: var(--fontPrimary);
    font-weight: 500;
}
p {
    color: var(--fontSecondary);
    /* color: var(--templateBackground); */
}
.statNumber p {
    color: var(--fontPrimary);
}

/* #templateContainer {
    background-color: var(--templateBackground);
    background-image: url("images/goldFrame.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;

    width: 15vw;
    height: fit-content;
} */
 #templateContainer {
    background-color: var(--templateBackground);
    width: fit-content;
    height: 100vh;
}

#templateItems {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    /* margin: 5px 15px; */
    top: 5px;
    /* left: 25px; */
}

#GenderAgeHeight, #StatBar {
    display: flex;
    flex-direction: row;
}

.statContainer {
    margin: auto 5px;
}

.statContainer img {
    width: auto;
    height: 5vh;
}

/* .itemContainer, .infoContainer {
    width: 100%;
} */

.goldHorizontal {
    /* width: 35%; */
    width: 350px;
    height: auto;
}

/* #templateBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    object-fit: contain;
} */
 #templateBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 0;
}
#templateBackground img {
    object-fit: contain;
}